<nav>
  <div class="nav-wrapper white">
    <ul id="nav-mobile" class="right">
      <li><a class="btn" (click)="onLogOut()">Logout</a></li>
    </ul>
  </div>
</nav>

<table>
  <thead>
    <tr>
      <th>Product </th>
      <th> <a (click)="sortBy('Brand')" style="cursor: pointer">Brand</a> </th>
      <th>Remainer</th>
      <th>Action</th>
      <th>{{prop}}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of dataInfo     ">
      <td>{{item.product}}</td>
      <td>{{item.brand}}</td>
      <td>{{item.remainder}}</td>
      <td><a class="btn" (click)="onEditItem(item._id)">edit</a> <a class="btn red" (click)="onDeleteItem(item._id)" style="margin-left: 5px;">delete</a></td>
    </tr>
  </tbody>
</table>

<button class="btn" type="button" (click)="addNewItem()" style="margin-top:10px">Add new item</button>
<button class="btn" type="button" (click)="onAddColumn()" style="margin-left:5px; margin-top:10px">Add new column</button>

<router-outlet></router-outlet>