<!-- <form (ngSubmit)="onSubmitColumn(form)" class="col s12  " style="margin-top: 15px" #form="ngForm">
  <div class="row">
    <div class="input-field col s12 m8 l6 ">
      <input type="text" name="columnName" ngModel required>
      <label class="active">Column name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m8 l6 ">
      <input type="text" name="columnValue" ngModel required>
      <label class="active">Value</label>
    </div>
  </div>
  <button type="submit" class="btn" [disabled]="!form.valid">Save</button>
  <button type="button" class="btn" style="margin-left: 5px" (click)="onCancelCol()">Cancel</button>
</form> -->